//test-frontend/less/_variables.less
// Colors
// Colors
@primary-color: #337ab7;
@secondary-color: #5bc0de;
@text-color: #333;
@body-bg: #f9f9f9;
@white: #fff;
@gray-dark: #333;
@gray-light: #f6f6f6;

// Fonts
@main-font: 'Sen', sans-serif;
@heading-font: 'Poppins', sans-serif;

// Spacing
@padding-base: 15px;

// Sizes
@carousel-height: 400px;
@product-image-height: 520px;
